<h1>Patient's Info</h1><br>

<h2>Appointments:</h2><br>
<% @patient.appointments.each do |app|%>
    <ul><%= link_to app.appointment_datetime.strftime("%B %d, %Y at %H:%M"), appointment_path(app) %> with
    <%= link_to app.doctor.name, doctor_path(app.doctor) %></ul>
<% end %>