<h1>Appointment Details</h1></br>

<h2>Doctor:</h2><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></br>
<h2>Patient:</h2><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></br>
<h2>Time:</h2><%= link_to @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
